{% extends "index.html" %}

{% block body %}

<h2>Events</h2>

<div class="col-sm-12">
    <h3>This events should interest you!</h3>
    <div class="events">
        {% for event in events %}
        <div class="col-sm-4">
            <div class="col-sm-12 event" style="position: relative">
                <div class="pull-right reject col-sm-1 col-sm-offset-12" style="padding-top: 12px"><i class="glyphicon glyphicon-remove">&nbsp;</i></div>
                <h4 class="col-sm-12 title">{{ event.title }}</h4>
                <div class="col-sm-10 col-sm-offset-1">
                    {% if event.image|length > 0 %}
                    <img src="{{ event.image }}" class="event_picture"/>
                    {% else %}
                    <img src="/static/img/placeholder-03.png" class="event_picture"/>
                    {% endif %}
                </div>
                <div class="col-sm-12 description">
                    <p>{{ event.description|safe }}</p>
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="address">{{ event.address }}</p>
                    <p class="datetime">{{ event.datetime }}</p>
                    {% if event.is_fb_event %}
                    <a href="http://facebook.com" title="This is a Facebook event">
                        <img src="/static/img/fb.png" class="fb_picture pull-right"/>
                    </a>
                    {% endif %}
                    <p class="url"><a href="{{ event.url }}">Learn more..</a></p>
                    <!-- TODO suggested friends i przycisk z zaproszeniem -->
                </div>

                <div class="text-center col-sm-12">
                    <div class="friend_picture" data-friend_id="100001711710125" data-going="0" data-profile="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xtf1/v/t1.0-9/11403395_989786231061865_2000113524457003408_n.jpg?oh=43679f26a5e947f3b3163a6b00e49b2e&oe=56EE5A89&__gda__=1458516178_1d88739db259f7b397459943372d02f1">
                        &nbsp;
                    </div>
                </div>

                <div class="text-center" style="position: absolute; bottom: 0px; left: 0px;width: 100%;">
                    <button data-href="{{ event.url }}" class="invitation btn btn-large btn-primary col-sm-12 col-sm-offset-3">Invite</button>
                </div>


            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
