{% extends "index.html" %}

{% block body %}

<h2>Events</h2>

<div class="col-sm-12">
    <h3>This events should interest you!</h3>
    <div class="events">
        {% for event in events %}
        <div class="row">
            <div class="event col-sm-12">
                <h4 class="col-sm-8 col-sm-offset-2">{{ event.title }}</h4>
                <div class="col-sm-4 col-sm-offset-2">
                    {% if event.image|length > 0 %}
                    <img src="{{ event.image }}" class="event_picture"/>
                    {% else %}
                    <img src="/static/img/placeholder-03.png" class="event_picture"/>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <p class="address">{{ event.address }}</p>
                    <p class="datetime">{{ event.datetime }}</p>
                    {% if event.is_fb_event %}
                    <img src="/static/img/fb.png" class="fb_picture pull-right"/>
                    {% endif %}
                    <p class="url"><a href="{{ event.url }}">Learn more..</a></p>
                    <!-- TODO suggested friends i przycisk z zaproszeniem -->
                    <div><button onclick="testPublishingEvents()" class="btn btn-large btn-primary">Invite</button></div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
